body {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'acherusgrotesque-regular';
    src: url('acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title-name {  
	font-size: 1.8em;
	text-transform: uppercase;
}

.subtitle {    
	font-size: 1em;
	text-decoration-line: underline; 
	text-decoration-color: #039BE5;

}

.subtitle span{
	text-decoration-line: underline; 
	text-decoration-color: #039BE5;
}

.profile-picture {
	border-radius: 50%;
	width: 12em;
	height: 12em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 4px #0277BD solid;
}

.left-title {
	background-color :#424242;
	color: #039BE5;
	text-align: center;
	font-size: 1.1em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.right-title {
	color: #424242;
	font-size: 1.1em;
	border-bottom: 2px solid;
	border-bottom-color: #039BE5;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.formation-xp-titre {
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.poste-titre {
	font-size: 0.8em;
	font-style: italic;
}

.fond-jaune {
	background-color: #039BE5;
}

.coloration-jaune {
	color: #039BE5;
}

.contour-icone {
	border: 3px #424242 solid;
	border-radius: 50%;
	padding: 10px;
}

a {
	color: #424242;
}

ul {
	list-style-type: none;
}

li {
	padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'acherusgrotesque-regular';
}

@media (min-width: 576px) {

	.title-name {
		font-size: 4em;
	}

	.subtitle {
		text-decoration-line: none; 
		font-size: 1.5em;
	}

	.left-title {
		font-size: 1.5em;
	}

	.right-title {
		font-size: 1.5em;
	}

	.formation-xp-titre {
		font-size: 1.1em;
	}
}

