body {
	background-color: grey;
	margin: 0;
	padding: 0;
}

header {
  	background-color: lightgreen;
  	border: 2px solid black;
  	border-radius: 6px;
  	line-height: 40px;
}

main {
	background-color: #d70e76;
	border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
}

footer {
  	background-color: lightblue;
  	border: 2px solid black;
  	border-radius: 6px;
  	line-height: 40px;
}

[class*="left-col"], left-col {
	background-color: #feca07;

}

[class*="right-col"], right-col {

}


[class*="pic-div"], pic-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

}
[class*="profile-picture"], profile-picture{
    border-radius: 50%;
	width: 10em;
	height: 10em;
	border: 4px #daaf12 solid;
}

[class*="left-title"], left-title{
	background-color :#404040;
	color: #feca07;
	text-align:center;
	font-size: xx-large;
}

[class*="right-title"], right-title{
	color: #404040;
	font-size: xx-large;
}

footer .left-col div{
    display:flex;
    justify-content: space-around;
    margin:0 auto;
    padding: 0 auto;
}

i{
	color: #404040;
}