body {
	background-color: black;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'acherusgrotesque-regular';
    src: url('acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

[class*="title-name"], .title-name {  
	font-size: 4em;
	text-transform: uppercase;
}

[class*="subtitle"], .subtitle {    
	font-size: 1.5em;
}

.subtitle span{
	text-decoration-line: underline; 
	text-decoration-color: #feca07;
}

[class*="profile-picture"], .profile-picture {
	border-radius: 50%;
	width: 13em;
	height: 13em;
	margin-top: 3em;
	margin-bottom: 3em;
	border: 4px #daaf12 solid;
}

[class*="left-title"], .left-title {
	background-color :#404040;
	color: #feca07;
	text-align: center;
	font-size: 1.7em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	text-transform: uppercase;
	font-weight: 700 !important;
}

[class*="right-title"], .right-title {
	color: #404040;
	font-size: 1.7em;
	border-bottom: 2px solid;
	border-bottom-color: #feca07;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-transform: uppercase;
	font-weight: 700 !important;
}

ul {
	list-style-type: none;
}

li {
	padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'acherusgrotesque-regular';
}

@media (max-width: 576px) {

	.title-name {
		font-size: 2.5em;
	}

	.subtitle {
		text-decoration-line: underline; 
		text-decoration-color: #feca07;
	}
}

